@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/antd/dist/antd.less';

svg {
  vertical-align: initial;
}

.ant-form-item-explain,
.ant-form-item-extra {
  font-size: 11px;
  font-weight: 500;
}
